@import url("https://fonts.googleapis.com/css2?family=Alata&display=swap");

body {
	margin: 0;
	font-family: "Alata", helvetica, arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: #e5e5e5;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}
